@page "/"
@model LibMatrix.FederationTest.Pages.IndexPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>LibMatrix.FederationTest</title>
    </head>
    <body>
        <div>
            If you're seeing this, LibMatrix.FederationTest is running!
        </div>
    </body>
</html>